body {
    padding-top: 50px;
}
.contents {
    padding: 40px 15px;
}
input.device-name {
    border-style: none;
    font-size: 150%;
}
th.device-name {
    width:300px;
}

@media print {
    a[href]:after {
        content: none;
    }
    .set-name-btn{
        display: none;
    }
}
input.simple-text { 
    border-style: none;
    background-color: transparent;
}
.set-name-btn {
    visibility: hidden;
}
table.report td {
    white-space: nowrap;
}
.info-panel {
    margin-top: 30px;
}
.map-controls button {
    margin-bottom: 5px;
}