body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.controls {
    position: absolute;
    right: 0;
    top:0;
    z-index: 999;
    background-color: white;
    padding: 3px;
}
.probe-btn {
    width: 100%;
    border-width: 2px;
}

.activeProbes {
    background-color: #dfd
}

.disabledProbes {
    background-color: #fdd
}
.active,.inactive{
    font-weight: bold;
}
.active {
    color: green;
}
.inactive {
    color: lightgray;
}
.active-btn {
    border-color: green;
}
.inactive-btn {
    border-color: lightgray;
}